body {
    margin: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    background-color: #ffffff;
  }
  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
/* 
.inter-<uniquifier> {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */